@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,100,700);
@import 'gh-buttons';

* {
  font-family: 'Lato', sans-serif;
  color: #333;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.two-pane-app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  *, *:after, *:before {
    @include box-sizing(border-box);
  }
  .top {
    position: absolute;
    height: 3.75em;
    padding: 0.75em;
    padding-left: 1em;
    line-height: 2.5em;
    width: 100%;
    border-bottom: 0.0625em solid rgba(0, 0, 0, 0.1);
  }
  .bottom {
    position: absolute;
    top: 3.75em;
    bottom: 0;
    width: 100%;

    &.charts{
      overflow: auto;

      .grid {
          border: .125rem solid;
          text-align: justify;
          font-size: 0;
          // padding: 4% 4% 0 4%
      }

      .box {
          font-size: 1rem;
          display: inline-block;
          background: #eee;
          border: .125em solid;
          width: 30%;
          padding: 2%
      }

      /* All but the last 3 boxes */
      .box:nth-last-child(n+5) {
          margin-bottom: 4%
      }

      .break {
          display: inline-block;
          width: 30%;
          height: 0
      }
    }

    .left {
      border-right: 0.0625em solid rgba(0, 0, 0, 0.1);
      position: absolute;
      width: 30%;
      height: 100%;

      // .item {
      //   height: 4em;
      //   border-bottom: 0.0625em solid rgba(0, 0, 0, 0.1);
      //   cursor: pointer;
      //   &:hover {
      //     background: rgba(0, 0, 0, 0.1);
      //     border-bottom: 0.0625em solid rgba(0, 0, 0, 0);
      //   }
      //   &:last-child {
      //     border-bottom: 0;
      //   }
      // }

      .filter {
        position: absolute;
        width: 100%;
        height: 33%;
        top: 0;
        padding: 1em;
        border-bottom: lightgrey 1px solid;
        .grid {
          text-align: justify;

          label {
              display: inline-block;
              width: 24%;
              padding: 1%;
              cursor: pointer;
          }

          /* All but the last 3 boxes */
          label:nth-last-child(n+5) {
              margin-bottom: 2%;
          }

          .break {
              display: inline-block;
              width: 24%;
              height: 0;
          }
        }
      }
      .map-details {
        position: absolute;
        width: 100%;
        height: 67%;
        bottom: 0;
        padding: 1em;
        overflow: auto;

        .details {
          &:nth-of-type(2){
            margin: 15px 0 0 0;
          }

          p {
            margin: 0 0 2px 0;
          }

          h3 {
            margin: 0 0 5px 0;
            border-bottom: 1px solid #eee;
          }
        }


      }
    }
    .right {
      position: absolute;
      width: 70%;
      right: 0;
      height: 100%;
      overflow: auto;
      /*padding: 1.25em;*/

      .map-container {
        width: 100%;
        height: 100%;
      }

      .map-canvas {
        width: 100%;
        height: 100%;
      }
    }
  }
  .title {
    @include inline-block;
    // background: rgba(0, 0, 0, 0.1);
    // width: 6em;
    height: 1em;
    line-height: 1em;
    margin: 0;
  }
  .nav-list {
    @include inline-block;
    margin: 0;
    list-style-type: none;
    padding: 0 2em;

    li {
      @include inline-block;
      padding: 0 1em;
      cursor: pointer;
      vertical-align: top;
      color: #aaa;

      &:hover {
        color: #666;
      }

      &.active {
        // background-color: rgba(0,0,0,0.1);
        font-weight: bold;
        color: #333;
      }
    }
  }
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 1%;
  z-index: 5;
  background-color: rgba(0,0,0,0);
  /*padding: 5px;*/
  /*border: 1px solid #999;*/
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  /*padding-left: 10px;*/
}

.select-warn-box {
  display: table;
  height: 100%;
  width: 100%;

  .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ccc;
    font-size: 1.25em;
  }
}
