<div id="floating-panel">
    <div class="button-group minor-group">
        {{!-- <a class="button big" {{action 'toggleHeatmap'}}>Toggle Heightmap</a> --}}
        <a class="button danger big" {{action 'resetMap'}}>Reset</a>
    </div>
</div>
<div class="map-canvas"></div>
{{yield}}
