<div class="bottom charts">

  <div class="grid">
    <div class="box">{{pie-chart}}</div>
    <div class="box">{{pie-chart}}</div>
    <div class="box">{{pie-chart}}</div>
    <div class="break"></div>
  </div>

  {{line-chart}}
</div>
