<div class="bottom charts">
  {{line-chart}}

  <div class="grid">
    <div class="box">{{pie-chart}}</div>
    <div class="box">{{pie-chart}}</div>
    <div class="box">{{pie-chart}}</div>
    <div class="break"></div>
  </div>

</div>
